.bod2{
  margin-bottom: 50px;
  margin:20px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  max-width:1300px;
  flex-wrap: wrap;
  padding: 0px 0px;
}

.tile
{
  max-width:380px;
  width: 100%;
  height:500px;
  margin:10px;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.07);
  overflow: auto;
  color:rgb(0, 0, 0);
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.tile2
{
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background-color:rgba(245, 246, 255, 0.753);
  display:flex;
  align-content: center;
  align-items: center;
  text-align: center;
}
.tile img
{
  position:absolute;
  bottom:0;
  left: 0;
  z-index:0;
  transition: all 0.4s ease-out;
  filter: opacity(80%);
  width: 100%;
  max-width: 400px;
  height: auto;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  top: 0px;
  padding:0px;
  height:calc(100% - 60px);
}
.tile h2
{
  padding: 20px;
  font-size: 30px;
  font-weight:300;
  text-align: center;
}
.tile h3
{
  font-weight:100;
  margin:40px 0 0 0;
  text-align: left!important;
  padding-left: 30px;
  padding-right: 30px;
  font-style:italic;
   transform: translateX(200px);
}
.p1
{
  font-weight:300;
  margin:20px 0 0 0;
  text-align: left!important;
  padding-left: 0px;
  padding-right: 30px;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0 ;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

@media (max-width: 800px) {

  .tile{
    width: 100%;
    max-width: 280px;
    height: 375px;
  }
}
/**************************/
#recentprojects h1{font-size:3.5rem; font-weight: 300;color: rgb(0, 0, 0);  margin: 30px; text-align: center;}
#recentprojects p{font-size:1.25rem; font-weight: 200;color: rgb(0, 0, 0); margin: 30px; text-align: center;}

.b1 {
transform: translateY(100px);
transition-delay: 0.1s;
}